.hide {
  display: none;
}

.homeBand {
  width: 100%;
  height: 880rpx;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-box-sizing: border;
  box-sizing: border;
  z-index: 60;
}

// 主唱
.leadSingerBox {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 88;

  .leadSvg{
    position: absolute;
    bottom: 70rpx;
  }

  .leadLight {
    position: absolute;
    width: 450rpx;
    height: 203rpx;
    bottom: 42rpx;
    z-index: 21;
  }

  .leadStage {
    position: absolute;
    width: 442rpx;
    height: 126rpx;
    z-index: 19;
    bottom: 0;
  }
}

// 吉他手 
.guitaristBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 411rpx;
  height: 590rpx;
  z-index: 86;

  .guitaristSvg{
    position: absolute;
    width: 411rpx;
    height: 520rpx;
    z-index: 20;
    bottom: 68rpx;
  }

  .guitaristLight {
    position: absolute;
    width: 325rpx;
    height: 150rpx;
    bottom: 30rpx;
    z-index: 21;
  }

  .guitaristStage {
    position: absolute;
    width: 324rpx;
    height: 92rpx;
    z-index: 19;
    bottom: 20rpx;
  }
}

// 贝斯手
.bassistBox {
  position: absolute;
  bottom: 110rpx;
  right: -90rpx;
  width: 322rpx;
  height: 590rpx;
  z-index: 87;

  .bassistSvg{
    position: absolute;
    width: 322rpx;
    height: 577rpx;
    z-index: 20;
    bottom: 60rpx;
  }

  .bassistLight {
    position: absolute;
    width: 373rpx;
    height: 171rpx;
    bottom: 48rpx;
    z-index: 21;
  }

  .bassistStage {
    position: absolute;
    width: 368rpx;
    height: 104rpx;
    z-index: 19;
    bottom: 0;
  }

}

// 鼓手
.drummerBox {
  position: absolute;
  top: 70rpx;
  left: -20rpx;
  width: 506rpx;
  height: 660rpx;
  z-index: 84;

  .drummerSvg{
    position: absolute;
    width: 506rpx;
    height: 480rpx;
    z-index: 20;
    bottom: 40rpx;
    left: -50rpx;
  }

  .drummerLight {
    position: absolute;
    width: 373rpx;
    height: 170rpx;
    bottom: 42rpx;
    z-index: 21;
  }

  .drummerStage {
    position: absolute;
    width: 368rpx;
    height: 104rpx;
    z-index: 19;
    bottom: 0;
  }
}

/*            动画Start              */

// 主唱‘女’动画全部是32帧，background-size: 13600px 657px; 
.leadSingerGirlImgFrame32{
  width: 425px !important;
  height: 657px !important;
  background-size: 13600px 657px !important;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
}
@keyframes leadSingerGirlFrame32{ 
  0%{background-position: 0 0;} 100%{ background-position: -13598px 0;}
}

// 主唱‘男’ 33帧，32帧； background-size: 13600px 657px； background-size: 14025px 657px
.leadSingerBoyImgFrame_32{
  width: 425px !important;
  height: 657px !important;
  background-size: 13600px 657px !important;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
}
@keyframes leadSingerBoyFrame32{ 
  0%{background-position: 0 0;} 100%{ background-position: -13598px 0;}
}

.leadSingerBoyImgFrame_33{
  width: 425px !important;
  height: 657px !important;
  background-size: 14025px 657px !important;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
}
@keyframes leadSingerBoyFrame33{ 
  0%{background-position: 0 0;} 100%{ background-position: -14023px 0;}
}

// 吉他手动画
.guitaristBoyImgFrame32{
  width: 411px !important;
  height: 520px !important;
  background-size: 13152px 520px !important;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
}
@keyframes guitaristBoyFrame32{ 
  0%{background-position: 0 0;} 100%{ background-position: -13150px 0;}
}

// 贝斯手动画
.bassistGirlImgFrame32{
  width: 322px !important;
  height: 577px !important;
  background-size: 10304px 577px !important;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
}
@keyframes { 
  0%{background-position: 0 0;} 100%{ background-position: -10302px 0;}
}

.bassistGirlImgFrame31{
  width: 322px !important;
  height: 577px !important;
  background-size: 9982px 577px !important;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
}
@keyframes bassistGirlFrame31{ 
  0%{background-position: 0 0;} 100%{ background-position: -9980px 0;}
}

// 鼓手动画
.drummerGirlImgFrame65{
  width: 506px !important;
  height: 480px !important;
  background-size: 32890px 480px !important;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
}
@keyframes drummerGirlFrame65{ 
  0%{background-position: 0 0;} 100%{ background-position: -32889px 0;}
}

.drummerGirlImgFrame60{
  width: 506px !important;
  height: 480px !important;
  background-size: 30360px 480px !important;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
}
@keyframes drummerGirlFrame60{ 
  0%{background-position: 0 0;} 100%{ background-position: -30358px 0;}
}

/*            动画End              */