.hide {
  display: none;
}

.homeBand {
	width:100%;
	height: 880rpx;
	position:absolute;
	top: 0;
	left: 0;
	overflow:hidden;
	-webkit-box-sizing:border;
	box-sizing:border;
	z-index: 60;

}

/*
.leadSinger_{
	width: 425rpx;
	height: 560rpx;
	background: url('https://oss.snmgame.com/gif/leadBoy/leadSprite001.png') no-repeat 0 0;
	background-size: 445rpx 13540rpx;
	animation: run 2.1s steps(20) infinite 0s;
	-webkit-animation: run 2.1s steps(20) infinite 0s;
	animation-timing-function:0/20;
	overflow: hidden;
}
@-webkit-keyframes run { 
	0%{
		background-position: -10rpx -10rpx;
	}
	100%{
		background-position: -10rpx -12873rpx;
	}
}
@keyframes run { 
	0%{
		background-position: -10rpx -10rpx;
	}
	100%{
		background-position: -10rpx -12873rpx;
	}
}
*/

// 主唱
.leadSingerBox{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 425rpx;
	height: 660rpx;
	z-index: 88;

	.leadSinger{
		position: absolute;
		width: 425rpx;
		height: 657rpx;
		z-index: 20;
		bottom: 60rpx;
	}

	.leadLight{
		position: absolute;
		width: 450rpx;
		height: 203rpx;
		bottom:42rpx;
		z-index: 21;
	}

	.leadStage{
		position: absolute;
		width: 442rpx;
		height: 126rpx;
		z-index: 19;
		bottom: 0;
	}
}

// 吉他手 
.guitaristBox{
	position: absolute;
	top: 0;
	right: 0;
	width: 411rpx;
	height: 590rpx;
	z-index: 86;

	.guitarist{
		position: absolute;
		width: 411rpx;
		height: 520rpx;
		z-index: 20;
		bottom: 60rpx;
	}

	.guitaristLight{
		position: absolute;
		width: 325rpx;
		height: 150rpx;
		bottom: 30rpx;
		z-index: 21;
	}

	.guitaristStage{
		position: absolute;
		width: 324rpx;
		height: 92rpx;
		z-index: 19;
		bottom: 0;
	}
}

// 贝斯手
.bassistBox{
	position: absolute;
	bottom: 110rpx;
	right: 0;
	width: 322rpx;
	height: 590rpx;
	z-index: 87;

	.bassist{
		position: absolute;
		width: 322rpx;
		height: 577rpx;
		z-index: 20;
		bottom: 60rpx;
	}

	.bassistLight{
		position: absolute;
		width: 373rpx;
		height: 171rpx;
		bottom: 48rpx;
		z-index: 21;
	}

	.bassistStage{
		position: absolute;
		width: 368rpx;
		height: 104rpx;
		z-index: 19;
		bottom: 0;
	}

}

// 鼓手
.drummerBox{
	position: absolute;
	top: 20rpx;
	left: -20rpx;
	width: 506rpx;
	height: 660rpx;
	z-index: 84;

	.drummer{
		position: absolute;
		width: 506rpx;
		height: 480rpx;
		z-index: 20;
		bottom: 60rpx;
	}

	.drummerLight{
		position: absolute;
		width: 373rpx;
		height: 170rpx;
		bottom:42rpx;
		z-index: 21;
	}

	.drummerStage{
		position: absolute;
		width: 368rpx;
		height: 104rpx;
		z-index: 19;
		bottom: 0;
	}
}
