.hide{
    display: none;
}

.bgColor{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(137, 220, 255, 1), rgba(170, 170, 252, 1));
    position: relative;
    top: 0;
    left: 0;
    
    .bgImg{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-image: url('https://snm-qqapp.oss-cn-beijing.aliyuncs.com/v1.0.0/texture001.png');
        background-size: 750px 3000px;
        background-repeat: no-repeat;
        opacity: 1;
        filter:alpha(opacity=1);
    }

    .body{
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 20rpx;

        .wirteQuestionBox{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color:rgba(255,255,255,1);
            border:2rpx solid rgba(30,30,30,1);
            border-radius:20rpx;

            .wirteQuestion{
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background-color:rgba(40,189,255,1);
                border: 8rpx solid rgba(255,255,255,1);
                border-radius: 20rpx;
                padding: 20rpx;

                .topBtns{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 70rpx;
                    box-sizing: border-box;
                    margin-bottom: 90rpx;

                    .writeQuestionWrap{
                        width: 210rpx;
                        height: 90rpx;
                        border: 2rpx solid rgba(30, 30, 30, 1);
                        border-radius: 20rpx;
                        background-color: rgba(255,255,255,1);
                        box-sizing: border-box;
                        
                        .writeQuestion{
                            width: 198rpx;
                            height: 78rpx;
                            box-sizing: border-box;
                            background-color: rgba(40, 189, 255, 1);
                            border-radius: 20rpx;
                            margin: 5rpx;
                            text-align: center;
                            line-height: 80rpx;
                            font-size: 30rpx;
                            color: rgba(255,255,255,1);
                        } 
                    }
                }

                .resetBorder{
                    border: none !important;
                }

                .selectedBtn{
                    background-color: rgba(255,255,255,1) !important;;
                    color: rgba(40, 189, 255, 1) !important;;
                }

                .topicBox{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 75rpx;

                    .topicInputTab{
                        width: 100%;
                        height: auto;
                        box-sizing: border-box;
                        padding: 20rpx;
                        overflow: hidden;
                        border-radius: 20rpx;
                        background-color: rgba(255,255,255,1);
                        margin-bottom: 20rpx;
                        display: flex;
                        justify-content: space-between;

                        .topicInput{
                            background: #fff;
                            width: 100%;
                            height: 120rpx;
                            font-size: 30rpx;
                            color: rgba(30,30,30,1);
                            overflow: hidden;
                        }

                        .otherTopicinput{
                            height: 40rpx !important;
                            line-height: 40rpx;
                        }
                        
                        .bigIcon{
                            width: 57rpx;
                            height: 40rpx;
                            margin-left: 5rpx;
                        }

                        .icon{
                            width: 43rpx;
                            height: 43rpx;
                            margin-left: 5rpx;
                        }
                    }

                    .otherTopicInputTab{
                        padding: 20rpx !important;
                    }

                }
                
                .bottomBtns{
                    display: flex;
                    justify-content: space-between;

                    .nextText, .lookRule{
                        width: 210rpx;
                        height: 90rpx;
                        border-radius:20rpx;
                        border: 2rpx solid rgba(30,30,30,1);
                        background-color: rgba(255,255,255,1);
    
                        view{
                            width: 202rpx;
                            height: 82rpx;
                            background:rgba(40,189,255,1);
                            border-radius: 20rpx;
                            text-align: center;
                            line-height: 82rpx;
                            font-size: 30rpx;
                            color: rgba(255,255,255,1);
                            margin: 4rpx auto;
                        }
                    }
    
                }
            }

            
        }
    }
}