
.hide{
    display: none;
}
.redExchange{
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, .2);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 55rpx;
    box-sizing: border-box;
    z-index: 99;
    
    .closeImgBtn{
        width: 70rpx;
        height: 70rpx;
        position: absolute;
        top: -30rpx;
        right: -30rpx;
    }

    .content{
        width: 640rpx;
        height: 370rpx;
        background-color: rgba(41, 189, 255, 1);
        border: 2rpx solid rgba(30, 30, 30, 1);
        border-radius: 20rpx;
        box-sizing: border-box;
        padding: 24rpx 37.5rpx 44rpx 37.5rpx;
        transform: translateY(100%);

        .title{
            width: 100%;
            height: 40rpx;
            line-height: 40rpx;
            font-size: 40rpx;
            color: rgba(255, 255, 255, 1);
            font-weight: 600;
            text-align: center;
            margin-bottom: 76rpx;
        }

        .body{
            width: 100%;
            height: auto;

            .countBox{
                height: 80rpx;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .tip{
                    font-size:30rpx;
                    color:white;
                    text-align:center;
                    line-height: 80rpx;
                }
                .countWrap{
                    width: 317rpx;
                    height: 100%;
                    box-sizing: border-box;
                    // background-color: salmon;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .inputBoard{
                        width: 163rpx;
                        height: 80rpx;
                        background:rgba(255,255,255,1);
                        border: 2rpx solid rgba(48,48,48,1);
                        border-radius: 20rpx;
                        text-align: center;
                        input{
                            height: 100%;
                            text-align: center;
                        }
                    }

                    .add, .remove{
                        width: 57rpx;
                        height: 80rpx;
                        .addIcon, .removeIcon{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .btns{
                width: 100%;
                height: 90rpx;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                box-sizing: border-box;
                padding-top: 30rpx;

                .cancelBtn{
                    width: 200rpx;
                    height: 80rpx;
                    line-height: 80rpx;
                    background: rgba(41,189,255,1);
                    border: 1rpx solid rgba(255,255,255,1);
                    border-radius: 20rpx;
                    text-align: center;
                    color: rgba(255, 255, 255, 1);
                }

                .confirmBtn{
                    width: 200rpx;
                    height: 80rpx;
                    background: rgba(41,189,255,1);
                    border: 2rpx solid rgba( 30,30, 30,1);
                    border-radius: 20rpx;

                    .confirmBtn_{
                        width:192rpx;
                        height:72rpx;
                        line-height: 72rpx;
                        background:#29bdff;
                        border:4rpx solid rgba(255, 255, 255, 1);
                        border-radius:20rpx;
                        text-align:center;
                        background-color:#29bdff;
                        color:rgba(255, 255, 255, 1);

                    }
                }
            }
        }
    }
}